##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [ ]:
name = "Safwan"
city = "New York"

print("Name : " + name)
print("City : " + city)

Name : Safwan
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [ ]:
number = int(input("Input : "))
result1 = number / 2
result2 = result1 / 2
result3 = result2 / 2

print(int(result1), int(result2), int(result3))

Input : 2000
1000 500 250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [ ]:
x = 5
y = 10
z = 15

print(x**z)
print(x**y)
print(x - y)
print(x%2)

30517578125
9765625
-5
1

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.05) and 1 cent
        Output:  the total amount as dollars and cents.

In [ ]:
quarters = 0.25 * 4
dimes = 0.10 * 3
nickels = 0.05 * 2
pennies = 0.01

total = quarters + dimes + nickels + pennies

print("Total is: ${r:.2f}.".format(r = total))

Total is: $1.41.

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [ ]:
string = "Python"
print(string[4:5])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [ ]:
string = "Python"
print(string[2:5])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [ ]:
string = "Python Class"
print(string[7:13])

Class

9 - Find the length of the String  **Welcome to Pace University**

In [ ]:
string = "Welcome to Pace University"
print(len(string))

26

10 - Split the String  **Welcome to Pace University**  into words

In [ ]:
string = "Welcome to Pace University"
string.split()

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [ ]:
string = "Artificial intelligence"
string.replace("i", "o")

'Artofocoal ontellogence'

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [ ]:
string = "DATA Science"
string.lower()

'data science'

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [ ]:
string = "DATA Science"
string.upper()

'DATA SCIENCE'

14 - reverse the given String  **Artificial intelligence**

In [ ]:
string = "Artificial Intelligence"
string[::-1]

'ecnegilletnI laicifitrA'

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [ ]:
a = 150
b = 225

print(a == b)
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a != b)

False
False
False
True
True
True

###Lists

16 - Create a **list** of **lists** of integers elements

In [ ]:
my_list = [[1,2,3], [4,5,6], [7,8,9]]

17 - Create a **list** of **lists** of Text elements

In [ ]:
my_list = [["Create", "a list"], ["of", "lists"], ["of", "integers"], ["elements"]]